<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.m4coding.coolhub.business.start" >

    <application
        android:name=".test.DebugStartApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="启动页测试"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.m4coding.coolhub.business.start.ui.activity.StartActivity"
            android:theme="@style/business_start_AppTheme.Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
